nodered/reddit-example
[{"id":"945e4cfe.55a17","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"fdb1c37.924d44","type":"http request","z":"945e4cfe.55a17","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://services.smartmetertexas.net/15minintervalreads/","tls":"d00befa0.a5484","persist":false,"proxy":"","authType":"basic","x":770,"y":440,"wires":[["431802ff.e777ac"]]},{"id":"19a8eeed.5ca7b1","type":"inject","z":"945e4cfe.55a17","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":520,"wires":[["af69ea1b.18cbd8","9b00709f.50317","e3b5a0d5.e1b5c","21c7d833.2d4aa8","f04cd672.5b3a28"]]},{"id":"9106210f.5aabb","type":"debug","z":"945e4cfe.55a17","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1650,"y":480,"wires":[]},{"id":"3c7d5b6a.6b2494","type":"template","z":"945e4cfe.55a17","name":"page","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"","output":"json","x":610,"y":360,"wires":[[]]},{"id":"c06dfada.6d3e18","type":"template","z":"945e4cfe.55a17","name":"page","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n\"trans_id\": \"111\", \"requestorID\": \"loginname\", \"requesterType\": \"RES\", \"startDate\": \"{{{payload.1}}}\", \"endDate\": \"{{{payload.0}}}\",\n\"version\": \"L\", \"readingType\": \"c\", \"esiid\": [\n\"ESIID\" ],\n\"SMTTermsandConditions\": \"Y\" }\n","output":"json","x":610,"y":240,"wires":[["7b1c6868.6aac38"]]},{"id":"9070c4d9.2fc5d8","type":"template","z":"945e4cfe.55a17","name":"page","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"trans_id\": \"123\",\"requestorID\": \"loginanme\", \"requesterType\": \"RES\",\"startDate\": \"{{{payload.1}}}\",\"endDate\": \"{{{payload.0}}}\", \"reportFormat\": \"JSON\",\"version\": \"L\",\"readingType\": \"C\",\"esiid\": [ \"ESSID\" ], \"SMTTermsandConditions\": \"Y\" }  ","output":"json","x":590,"y":500,"wires":[["fdb1c37.924d44","a89089f1.72af28"]]},{"id":"a89089f1.72af28","type":"http request","z":"945e4cfe.55a17","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://services.smartmetertexas.net/dailyreads/","tls":"d00befa0.a5484","persist":false,"proxy":"","authType":"basic","x":770,"y":520,"wires":[["d911c988.070998"]]},{"id":"21c7d833.2d4aa8","type":"moment","z":"945e4cfe.55a17","name":"yesterday","topic":"","input":"","inputType":"msg","inTz":"America/Chicago","adjAmount":"2","adjType":"days","adjDir":"subtract","format":"MM/DD/YYYY","locale":"C","output":"","outputType":"msg","outTz":"America/Chicago","x":260,"y":360,"wires":[["8b1ea893.4e4438"]]},{"id":"e3b5a0d5.e1b5c","type":"moment","z":"945e4cfe.55a17","name":"today","topic":"","input":"","inputType":"msg","inTz":"America/Chicago","adjAmount":"0","adjType":"days","adjDir":"add","format":"MM/DD/YYYY","locale":"C","output":"payload","outputType":"msg","outTz":"America/Chicago","x":270,"y":300,"wires":[["8b1ea893.4e4438"]]},{"id":"8b1ea893.4e4438","type":"join","z":"945e4cfe.55a17","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"payload","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":450,"y":360,"wires":[["9070c4d9.2fc5d8"]]},{"id":"d911c988.070998","type":"change","z":"945e4cfe.55a17","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.registeredReads[0].energyDataKwh","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":620,"wires":[["1ca2662b.1186ba"]]},{"id":"7b1c6868.6aac38","type":"http request","z":"945e4cfe.55a17","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://services.smartmetertexas.net/monthlybillingInformation/","tls":"d00befa0.a5484","persist":false,"proxy":"","authType":"basic","x":770,"y":320,"wires":[["2ee58b0d.cae6e4"]]},{"id":"af69ea1b.18cbd8","type":"moment","z":"945e4cfe.55a17","name":"this month","topic":"","input":"","inputType":"msg","inTz":"America/Chicago","adjAmount":"0","adjType":"days","adjDir":"add","format":"MM/01/YYYY","locale":"C","output":"","outputType":"msg","outTz":"America/Chicago","x":290,"y":180,"wires":[["baf1e91d.75e128"]]},{"id":"9b00709f.50317","type":"moment","z":"945e4cfe.55a17","name":"last month","topic":"","input":"","inputType":"msg","inTz":"America/Chicago","adjAmount":"1","adjType":"months","adjDir":"subtract","format":"MM/01/YYYY","locale":"C","output":"","outputType":"msg","outTz":"America/Chicago","x":290,"y":240,"wires":[["baf1e91d.75e128"]]},{"id":"baf1e91d.75e128","type":"join","z":"945e4cfe.55a17","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"payload","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":470,"y":260,"wires":[["c06dfada.6d3e18"]]},{"id":"2ee58b0d.cae6e4","type":"change","z":"945e4cfe.55a17","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.billingData[0].actualkWh","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":360,"wires":[["c8c9c929.fb1238"]]},{"id":"431802ff.e777ac","type":"change","z":"945e4cfe.55a17","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.energyData[0].RD","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"-A","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":420,"wires":[["eb9a165d.62c578"]]},{"id":"eb9a165d.62c578","type":"split","z":"945e4cfe.55a17","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1130,"y":480,"wires":[["cb50a94e.144f98"]]},{"id":"cb50a94e.144f98","type":"buffer-array","z":"945e4cfe.55a17","name":"","bufferLen":"1","startWhenFilled":true,"x":1050,"y":540,"wires":[["18dd443.8d682bc"]]},{"id":"18dd443.8d682bc","type":"timeframerlt","z":"945e4cfe.55a17","name":"","throttleType":"reset","timeLimit":"1","timeLimitType":"milliseconds","countLimit":"3","byresetcountLimit":"1","x":1250,"y":720,"wires":[["a4294b7f.da5d58"]]},{"id":"1a1bd1a2.7377ae","type":"function","z":"945e4cfe.55a17","name":"","func":"msg.payload='{\"Current\": \"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":660,"wires":[["203c7d4c.ce5382"]]},{"id":"a4294b7f.da5d58","type":"switch","z":"945e4cfe.55a17","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"cont","v":".","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1330,"y":580,"wires":[[],["1a1bd1a2.7377ae"]]},{"id":"65189db6.ef9814","type":"debug","z":"945e4cfe.55a17","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":700,"wires":[]},{"id":"ac71ecda.d4433","type":"inject","z":"945e4cfe.55a17","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":740,"wires":[["21c7d833.2d4aa8","e3b5a0d5.e1b5c"]]},{"id":"f04cd672.5b3a28","type":"change","z":"945e4cfe.55a17","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":600,"wires":[["18dd443.8d682bc"]]},{"id":"c8c9c929.fb1238","type":"mqtt out","z":"945e4cfe.55a17","name":"","topic":"","qos":"","retain":"","broker":"fc746857.99d0f8","x":1380,"y":380,"wires":[]},{"id":"203c7d4c.ce5382","type":"mqtt out","z":"945e4cfe.55a17","name":"","topic":"","qos":"","retain":"","broker":"fc746857.99d0f8","x":1470,"y":540,"wires":[]},{"id":"1ca2662b.1186ba","type":"mqtt out","z":"945e4cfe.55a17","name":"","topic":"","qos":"","retain":"","broker":"fc746857.99d0f8","x":1410,"y":860,"wires":[]},{"id":"d00befa0.a5484","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"fc746857.99d0f8","type":"mqtt-broker","z":"","name":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
